.App {
    height: 100%;
    display: flex;
    border-radius: 7px;
    overflow: hidden;
    color: rgb(240, 240, 240);

}
// menu container
.menuContainer {
    background: #282c41;
    flex-grow: 1;
}

// chat container
.chatContainer {
    background: #333a5e;
    flex-grow: 3;
}